.container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.container {
  text-align: center;
}

.newsBtn {
  position: absolute;
  bottom: 100px;
  margin: 0 auto;
  background-color: #666;
  width: 100px;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
